<div class="container">
  <h1>HOME</h1>

  <ul>
    <li><%= link_to "Liste des Burgers", burgers_path %></li>
    <li><%= link_to "Créer un Burger", new_burger_path %></li>
    <li><%= link_to "Liste des Trackers", trackers_path %></li>
    <li><%= link_to "Créer un Tracker", new_tracker_path %></li>
  </ul>
</div>










