<div class="container-fluid">
  <div class="row">
    <h1>Bots list</h1>
    <% if @bots.empty? %>
      <p>No bots yet, create one: <%= link_to "Create a bot", new_bot_path %></p>
    <% else %>
    <ul>
      <% @bots.each do |bot| %>
        <li><h2><%= link_to bot.name, bot_path(bot) %> <%= link_to "Delete", bot_path(bot),{class: "btn btn-danger", :method => :delete} %></h2></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
