<div class="container-fluid">
  <h1>Bots list</h1>
  <% if @bots.empty? %>
    <p>No bots yet, create one: <%= link_to "Create a bot", new_bot_path %></p>
  <% else %>
  <ul>
    <% @bots.each do |bot| %>
      <li><%= bot.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
